body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #3B3B3B;
  color: #F5F5FA;
}

h1 {
  margin-top: 32px;
  font-size: 32px;
}

h2 {
  margin-top: 10px;
  color: #C5C8EB;
  font-size: 24px;
}

h1, h3 {
  color: #ACE3D9;
}

h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

a:hover {
  text-decoration: none;
}

em {
  color: #9E9E9E;
}

em a {
  font-style: italic;
}

.center {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

ul.links li {
  font-size: 16px;
  padding-left: 42px;
  line-height: 32px;
}

ul.projects li {
  margin-bottom: 10px;
}

li.github {
  background: url(images/github.png) no-repeat left;
}

li.email {
  background: url(images/email.png) no-repeat left;
}
